@theme {
    @keyframes spotlight_effect {
      0% {
        opacity: 0;
        transform: translate(-72%, -62%) scale(0.5);
      }
      100% {
        opacity: 1;
        transform: translate(-50%, -40%) scale(1);
      }
    }
    --animate-spotlight_effect: spotlight_effect 2s ease .75s 1 forwards;
  }