target/
data/
substrate.flybin
sp/
sub_u8.flybin
sub_f32.flybin
web/target/
web/node_modules/
web/dist/
web/assets/main.css
web/public/
admin_keys.json
fly-server
fly-server-aarch64
admin-dist/
web/tsconfig.tsbuildinfo
*.tsbuildinfo
bundle-aarch64/
